asgiref==3.8.1
astroid==2.5
coverage==4.5.2
Django==5.2
iniconfig==2.1.0
isort==5.13.2
lazy-object-proxy==1.11.0
mccabe==0.6.1
mysql-connector-python==9.3.0
mysqlclient==2.2.7
packaging==25.0
pluggy==1.5.0
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pytest==8.3.5
pytest-django==4.11.1
python-dotenv==0.10.1
pytz==2025.2
selenium==3.141.0
setuptools==80.0.0
sqlparse==0.5.3
toml==0.10.2
urllib3==2.4.0
wheel==0.45.1
wrapt==1.12.1
